.about {
    /*text-align: justify;*/
    font-family: 'Roboto Slab', 'regular 400';
    font-size: 16px;
}

h1, h3 {
    font-family: 'Roboto Slab', 'bold 700';
    color: #4885ed;
}

h1 {
    font-size: 30px;
}

.maintitle {
    font-family: 'Roboto Slab', 'bold 700';
}

p {
    font-family: 'Roboto Slab', 'regular 400';
}
