.update {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif, 'thin 100';
    color: #A9A9A9;
    text-align: center;
    margin-top: 100px;
}

.contact {
    font-size: 24px;
    font-family: 'Montserrat:100', sans-serif;
    margin-top: 100px;
    text-align: center;
    color: #A9A9A9;
    margin-left: 200px;
}

.email {
    text-underline-style: single;
}